<h1> New POst here<h1>
<p>
<%= form_for @post do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>

  <%= f.label :body %>
  <%= f.text_area :body %>
  <br>
  <%= f.submit %>
  </p>
<% end %>

